#themecolors .selector , .cursor{
    cursor: pointer;
}
 
#google-buton{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.topbar .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}


.img-avatar{
    width: 200px;
    height: 200px;
}